.result {
  height: 50px;
  background-color: #51B5F7;
  width: 100%;
  padding: 2px;
}

.result p {
  font-size: 20px;
  margin: 5px;

}

.calculator-body {
  max-width: 100px;
  margin: auto;
}

.button {
  display: block;
}

button {
  width: 25%;
  height: 40px;
  background-color:#F4F7F7;
  font-size: 20px;
}